<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

            {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="d-flex">
            {% if is_granted('ROLE_USER') %}
            {% include 'partials/_sidebar.html.twig' %}
            {% endif %}



            {% block body %}{% endblock %}
            {% for message in app.flashes('error') %}
                <div class="position-relative">
                    <div class="alert alert-danger alert-dismissible mt-2 me-2 fade show position-fixed top-0 end-0" style="width:400px;" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="position-relative">
                    <div class="alert alert-success alert-dismissible mt-2 me-2 fade show position-fixed top-0 end-0" style="width:400px;" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}

        </div>
    </body>
</html>
